body{
    background-color: #589ED9;
    font-family: 'Open Sans', sans-serif;
}
#contanier{
    width: 220px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

#header .logo .fa-weibo{
    color: white; 
    font-size: 50px;
}
#header h1{
    font-size: larger;
    color: white;
}
#form .feilds{
    background-color: white;
    border-radius:10px;
    padding: 0;
    margin: 0;
}
#form .feilds input{
    width: 100%;
    outline: none;
    border: none;
    text-indent: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius:10px;
    border-bottom-right-radius: 0px;
}

#form .feilds input[type="Password"]{
    border-top: 1px solid #ccc;
    border-radius: 0px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
#contanier #form input[type="submit"]{
     display: block;
     border: none;
     background-color: #2186D4;
     width: 100%;
     color: white;
     margin-top: 10px;
     padding: 10px 0;
     border-radius: 7px;
     font-size: 16px;
     font-weight: bold;
}
#contanier #form input[type="submit"]:hover{
    background-color: #114770;
    cursor: pointer;
}
#footer p{
    font-size: 14px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}